<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/headPartial.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    <title><%= experience.name %>  | MEMORIES</title>
</head>

<body>
    <%- include('../partials/headerPartial.ejs') %>
    <div class="container-fluid" id="containerSupremo">
        <div class="row" id="containerProducto">
            <div class="col-lg-6 col-12" id="divImagenCentral">
                <img src="/img/experiences/<%= experience.image %> " alt="<%= experience.name %> " width="80%"
                    id="imagenRestaurant">
            </div>
            <div class="col-lg-6 col-12" id="informacion">
                <ul class="infoEnLista1">

                    <li id="nombreMemorie">
                        <h2> <%= experience.name %>  </h2>
                    </li>

                    <li><br></li>

                    <li id="textoDescriptivoMemorie">
                        <h6>
                            <%= experience.description %> 
                        </h6>
                    </li>

                    <li><br></li>
                    <li>
                        <h6 id="txt-sku" class="text-center">SKU: #<%= experience.id %> </h6>
                    </li>

                    <li><br></li>

                    <li><button type="button" class="btn-block btn-lg rounded-pill" id="botonComprar"><a
                                class="text-decoration-none text-dark" href="/detalle/<%= experience.productSku %> ">VER MEMORIE</a>
                        </button></li>
                </ul>

            </div>
        </div>
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0 queTrae">
                        <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <h5 class="queTrae">¿Qué incluye esta experiencia?</h5>
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body">
                        <ul class="items">

                            <li id="nombreMemorie">
                                <%= experience.include %> 
                            <li>Una vez canjeada la Memorie no se aceptan devoluciones.</li>
                            </li>
                            <li><br>
                                <h5 id="website">Sitio Web: <a id="website" class="text-decoration-none text-dark" href="<%= experience.website %>" target="_blank"> <%= experience.website %> </a></h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>

        <%- include('../partials/footerPartial.ejs') %>
        <%- include('../partials/jsPartials.ejs') %>
    </div>
</body>

</html>