<!doctype html>
<html lang="es">
<head>
<%- include('../partials/headPartial.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
<title>CARRITO | MEMORIES</title>
</head>
<body>
    <div class="container-fluid">
        <header>
            <nav class="navbar navbar-light bg-white border-bottom shadow-sm">
                <a href="/" class="navbar-center"><img src="/img/logo-memories-md.png" width="75px"></a>
                <div class="navbar">
                    <ul id="nav-right" class="navbar-nav float-right">
                        <li class="nav-item">
                            <img src="/img/https.png" width="40px" alt="">
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <% if (cartProducts.length != 0) { %>
            <div class="container-fluid">
                <div class="row justify-content-center mt-3">
                    <h2>Tu Carrito</h2>
                    <section class="col-12 text-center">
                        <div class="row justify-content-center">
                            <% for( let i = 0; i < cartProducts.length; i++ ) { %>
                                <div class="col-xl-6 col-lg-6 col-md-11 col-sm-11 col-xs-11 mx-1">
                                    <article class="mb-3">
                                        <div class="row border rounded-sm shadow-sm">
                                            <div class="col-4">
                                                <img class="mr-2 mt-2 pt-2 rounded d-block" src="/img/packs/<%= cartProducts[i].products.image %> "
                                                    width="145px" alt="<%= cartProducts[i].products.name %>">
                                            </div>
                                            <div class="col-8">
                                                <div class="card-body ml-2">
                                                    <h5 id="titulo-producto" class="card-title py-2 pl-2"><strong><%= cartProducts[i].products.name %> </strong></h5>
                                                    <p id="precio-producto" class="card-text pl-2 mt-2"><i class="fas fa-money-bill-alt mr-1"></i><strong>$<%= cartProducts[i].products.price %> </strong></p>
                                                    <p id="cantidad" class="card-text pl-2"><i class="fas fa-minus mr-1"></i> x1<i class="fas fa-plus ml-1"></i></p>
                                                    <a href="#">
                                                        <p id="eliminar" class="card-text float-right mb-1"><i class="fas fa-trash-alt mr-1"></i>Eliminar</p>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            <% } %>
                            <div class="col-xl-4 col-lg-4 col-md-11 col-sm-11 col-xs-11 mx-1">
                                <section id="resumen-productos" class="d-flex flex-column justify-content-center">
                                    <div class="container">
                                        <div class="card bg-light shadow-sm">
                                            <div class="card-body">
                                                <h5 class="card-title text-center"><strong>Resumen de Compra</strong></h5>
                                                <% for( let i = 0; i < cartProducts.length; i++ ) { %>
                                                    <article class="d-flex flex-row justify-content-between">
                                                        <p class="card-text"><%= cartProducts[i].products.name %>  x1</p>
                                                        <p class="card-text">$<%= cartProducts[i].products.price %> </p>
                                                    </article>
                                                <% } %>
                                                <article id="precio-total"
                                                class="d-flex flex-row justify-content-between border-top pt-3">
                                                <p class="card-text"><strong>Precio Total</strong></p>
                                                <p class="card-text"><strong>$<%= total %></strong></p>
                                            </article>
                                                <div class="text-center">
                                                    <p id="continuar" class="text-center text-black-50"><a href="/" class="text-reset text-decoration-none">Continuar comprando</a></p>
                                                </div>
                                                <div id="btn-finalizar" class="text-center"><a href="#" class="btn btn-primary btn-block rounded-pill text-center">FINALIZAR COMPRA</a></div>
                                            </div>
                                        </div>
                                </section>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div id="separador"></div>
        <% } else { %>
            <div class="col-12">
               <h2 class="text-center" style="padding: 100px 0; color: white; background-color: tomato;">No tienes platos agregados a tu carrito!!!</h2>
            </div>
            <% } %>%>
    </div>
<%- include('../partials/footerPartial.ejs') %>
<%- include('../partials/jsPartials.ejs') %>
</body>

</html>