<!doctype html>
<html lang="es">

<head>
    <%- include('../partials/headPartial.ejs') %>
    <link rel="stylesheet" href="/css/admin/admin.css">
    <title>Editar Categoría | MEMORIES</title>
</head>

<body>
    <%- include('../partials/headerAdminPartial.ejs') %>
    <div class="container-fluid">
        <section class="row">
            <article class="col-12 card pt-5 border-0">
                <div class="card-body">
                    <h1 class="card-title text-center">Editar categoría <%= category.name%></h1>
                </div>
            </article>
        </section>
        <section id="formulario" class="bg-home pt-4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 col-sm-10 col-xs-12 mx-auto bg-light shadow-sm">
                        <div class="signup-form mt-2">
                            <form action="/admin/categories/edit/<%= category.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="name">Nombre</label>
                                    <input type="text" class="form-control rounded-pill" name="name" value ='<%= category.name%>'>
                                </div>
                                <div class="form-group">
                                    <label for="image">Imagen</label><br>
                                    <img width="50%" class="img-thumbnail" src="/img/categorias/<%= category.image%>"alt="">
                                    <input type="file" class="form-control-file rounded" id="imagen-producto" name="image">
                                    <input type="hiden" class="form-control-file rounded" id="imagen-producto" value ="<%= category.image%>" name="oldImage">
                                </div>
                                <div class="form-group">
                                    <label for="visibility">Visibilidad</label>
                                    <select id="visibility" class="form-control rounded-pill" name="visibility">
                                        <option <% if (category.visibility == 0) {%> selected <% } %>>Enabled</option>
                                        <option <% if (category.visibility == 1) {%> selected <% } %>>Disabled</option>  
                                    </select>
                                </div>
                                <div class="mx-auto bg-light mt-2 shadow-sm">
                                    <div id="btn-guardar" class="form-group float-right mt-2">
                                        <button type="submit" class="btn btn btn-info rounded-pill">Actualizar</button>
                                    </div>
                                </div>
                            </form>
                            <div id="btn-volver" class="form-group float-left mt-2">
                                <a href="/admin/categories/list"><button class="btn btn-secondary rounded-pill"><i class="fas fa-arrow-left mr-1"></i>Volver al Listado</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <%- include('../partials/jsPartials.ejs') %>
</body>

</html>