<!doctype html>
<html lang="es">

<head>
    <%- include('../partials/headPartial.ejs') %>
    <link rel="stylesheet" href="/css/admin/admin.css">
    <title>Crear Experiencia | MEMORIES</title>
</head>

<body>
    <%- include('../partials/headerAdminPartial.ejs') %>
 
    <div class="container-fluid">
        <section class="row">
            <article class="col-12 card pt-5 border-0">
                <div class="card-body">
                    <h1 class="card-title text-center">Agregar nueva experiencia</h1>
                </div>
            </article>
        </section>

        <section id="formulario" class="bg-home pt-4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 col-sm-10 col-xs-12 mx-auto bg-light shadow-sm">
                        <div class="signup-form mt-2">
                            <form action="/admin/experiences-create" method="POST" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="nombre">Nombre</label>
                                    <input type="text" class="form-control rounded-pill" name="name"
                                        placeholder="Ej: Tucson">
                                </div>
                                <div class="form-group">
                                    <label for="descripción">Descripción</label>
                                    <textarea class="form-control rounded-lg" name="description"
                                        placeholder="Ej: Disfrutá de un buen plato, disfrutá Tucson."
                                        rows="3"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="imagen-producto">Imagen</label>
                                    <input type="file" class="form-control-file rounded" id="imagen-producto" name="image">
                                </div>
                                <div class="form-group">
                                    <label for="includes">Incluye</label>
                                    <textarea class="form-control rounded-lg" name="include"
                                        placeholder="Ej: La experiencia incluye, una entrada, un plato principal, un postre y un cocktail, por persona. Válido para 2 (dos) personas por unica vez."
                                        rows="3"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="website">Website</label>
                                    <input type="text" class="form-control rounded-pill" name="website"
                                        placeholder="Ej: http://www.tucsonrestaurante.com.ar/">
                                </div>
                                <div class="form-group">
                                    <label for="productSku">Asociar a Memorie</label>
                                    <select id="productSku" class="form-control rounded-pill" name="productSku">
                                        <% for( let i = 0; i < products.length; i ++ ) { %>
                                            <option value="<%= products[i].sku %> "><%= products[i].name %> </option>
                                        <% } %>
                                    </select>
                                </div>
                                <div id="btn-guardar" class="form-group float-right">
                                    <button type="submit" class="btn btn-info rounded-pill">Guardar</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
    </div>
    </section>
    <%- include('../partials/jsPartials.ejs') %>
</body>

</html>