<!doctype html>
<html lang="es">

<head>
    <%- include('../partials/headPartial.ejs') %>
    <link rel="stylesheet" href="/css/admin/admin.css">
    <link rel="stylesheet" href="/css/miCuenta.css">
    <script src="/js/passwordToggle.js"></script>
    <title>INICIO DE SESION | MEMORIES ADMIN</title>
</head>

<body id="body-login">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm fixed-top">
            <a href="/admin" class="navbar-center"><img src="/img/logo-memories-md.png" width="75px"></a>
        </nav>
    </header>
    <div class="container-fluid">
        <section class="row">
            <article id="tituloAdmin" class="col-12 card pt-5 border-0">
                <div class="card-body">
                    <h1 class="card-title text-center">Iniciá sesión</h1>
                </div>
            </article>
        </section>
        <section class="bg-home pt-15">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-10 col-sm-12 mx-auto pt-2 fondo shadow-sm rounded-lg">
                        <div class="signup-form mt-3">
                            <form action="/admin/login" method="POST">
                                <div class="form-group">
                                    <input type="text" class="form-control rounded-pill" name="email" placeholder="e-mail" value="<%=typeof old == 'undefined' ? '':old.email %>" autofocus>
                                        <% if(typeof errors != 'undefined' && errors.email){%>
                                            <span class="text-danger"> <%= errors.email.msg %></span>
                                        <%}%>
                                </div>
                                <div class="form-group">
                                    <i class="togglePassword fas fa-eye text-decoration-none eye"></i>
                                        <input type="password" class="password form-control rounded-pill" name="password"  placeholder="contraseña">
                                            <% if(typeof errors != 'undefined' && errors.password){%>
                                                <span class="text-danger"> <%=errors.password.msg %></span>
                                            <%}%>
                                </div>
                                <div class="form-group text-right display-5">
                                    <a href="#">¿Olvidaste tu contraseña?</a>
                                </div>
                                <div class="form-group text-center btn-block">
                                    <button type="submit" class="btn btn-info btn-primary btn-lg btn-block rounded-pill">Ingresar </button>
                                </div>
                                <div class="form-group text-center">
                                    <input type="checkbox" name="remember" checked> <label class="checkbox-inline">&nbsp;Recordarme</label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>   
<%- include('../partials/jsPartials.ejs') %>
</body>

</html>