<!doctype html>
<html lang="es">

<head>
    <%- include('../partials/headPartial.ejs') %>
    <link rel="stylesheet" href="/css/admin/admin.css">
    <title>AGREGAR | MEMORIES</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm fixed-top">
            <a href="/admin" class="navbar-center"><img src="/img/logo-memories-md.png" width="75px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul id="nav-left" class="navbar-nav col-10">

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Memories</i>
                        </a>
                        <div class="dropdown-menu border shadow-sm" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/admin/memoriesCreate">Agregar nuevo pack<i
                                    class="fas fa-plus-circle ml-2"></i></a>
                            <a class="dropdown-item" href="/admin/listado-memories">Listar packs<i class="fas fa-list-alt ml-2"></i></a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Experiencias</i>
                        </a>
                        <div class="dropdown-menu border shadow-sm" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/admin/experienceCreate">Agregar nueva experiencia<i
                                    class="fas fa-plus-circle ml-2"></i></a>
                            <a class="dropdown-item" href="#">Listar experiencias<i
                                    class="fas fa-list-alt ml-2"></i></a>
                        </div>
                    </li>
                </ul>
                <ul id="nav-right" class="navbar-nav col-2">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="/admin/login" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Usuario<i class="fas fa-user-circle ml-2"></i>
                        </a>
                        <div class="dropdown-menu border shadow-sm" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/admin/login">Ingresá<i class="fas fa-sign-in-alt ml-2"></i></a>
                            <a class="dropdown-item" href="#">Salir<i class="fas fa-sign-out-alt ml-2"></i></a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active">ADMIN</a>
                    </li>
                </ul>



            </div>
        </nav>
    </header>
    <div class="container-fluid">


        <!-- Cuerpo principal -->

        <section class="row">
            <article class="col-12 card pt-5 border-0">
                <div class="card-body">
                    <h1 class="card-title text-center">Agregar nuevo pack de Memories</h1>


                </div>
            </article>
        </section>
        <section class="bg-home pt-4">
            <div class="container">
                <div class="row" >
                    <div class="col-8 mx-auto bg-light ">
                        <div class="card">
                            <ul class="list-group">
                                <li class="list-group-item">Id: <%= product.sku%></li>
                                <li class="list-group-item">Nombre: <%= product.name%></li>
                                <li class="list-group-item">Descripción: <%= product.description%></li>
                                <li class="list-group-item">Precio: <%= product.price%></li>
                                <li class="list-group-item ">Imagen: <img class="img-thumbnail" src="/img/packs/<%= product.image%>" alt=""></li>
                            </ul>
                        </div>
                        <a class="btn btn-danger" href="/administrar"><h4 class="text-center">Volver</h4></a>
                    </div>                        
                </div>
            </div>
        </section>

    </div>
    <%- include('../partials/jsPartials.ejs') %>
</body>

</html>