<!doctype html>
<html lang="es">

<head>
    <%- include('../partials/headPartial.ejs') %>
    <link rel="stylesheet" href="/css/admin/admin.css">
    <title> Detalle de Orden  | MEMORIES</title>
</head>

<body>
<%- include('../partials/headerAdminPartial.ejs') %>
    <div class="container-fluid">
        <section class="row">
            <article class="col-12 card pt-5 border-0">
                <div class="card-body">
                    <h1 class="card-title text-center">Orden #<%= cart.id %>  </h1>
                </div>
            </article>
        </section>
        <section class="bg-white pt-4">
            <div class="container">
                <div class="row mb-4" >
                    <div class="col-xl-8 col-lg-8 col-md-10 col-sm-10 mx-auto bg-light shadow-sm">
                        <div class="card">
                            <ul class="list-group">
                                <li class="list-group-item"><strong>Fecha de compra: </strong><%=new Date(cart.createdAt).getDate() + '-' + (new Date(cart.createdAt).getMonth() + 1) +  '-' + new Date(cart.createdAt).getFullYear()%></li>
                                <li class="list-group-item"><strong>Nombre: </strong><%= cart.user.name %></li>
                                <li class="list-group-item"><strong>Apellido: </strong><%= cart.user.lastName %></li>
                                <li class="list-group-item"><strong>e-mail: </strong><%= cart.user.email %></li>
                                <li class="list-group-item"><strong>Status: </strong>Aprobado</li>
                                <li class="list-group-item"><strong>Precio Total: </strong>$<%= toThousand(cart.total) %></li>
                                <li class="list-group-item"><strong>Productos: </strong>
                                    <table class="table mt-2 border-bottom">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Imagen</th>
                                                <th scope="col">Sku</th>
                                                <th scope="col">Nombre</th>
                                                <th scope="col">Cant</th>
                                                <th scope="col">Precio Lista</th>
                                                <th scope="col">Precio Especial</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for( let i = 0; i < cart.items.length; i++ ) { %>
                                                <tr>
                                                    <td scope="row"><img width="100px" class="img-thumbnail" src="/img/packs/<%= cart.items[i].products.image %>" alt=""></td>
                                                    <td><%= cart.items[i].products.sku %></td>
                                                    <td><%= cart.items[i].products.name %></td>
                                                    <td>1</td>
                                                    <% if (cart.items[i].products.price == cart.items[i].products.specialPrice) { %>
                                                    <td>$<%= toThousand(cart.items[i].products.price) %> </td>
                                                    <td>-</td>                              
                                                    <% } else { %>
                                                    <td class="specialPrice">$<%= toThousand(cart.items[i].products.price) %> </td>                            
                                                    <td class="border-bottom">$<%= toThousand(cart.items[i].products.specialPrice) %> </td>                            
                                                    <% } %> 
                                                </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-10 col-sm-10 mx-auto bg-light pt-4 shadow-sm">
                        <div id="btn-volver" class="form-group float-left">
                            <a href="/admin/orders/list"><button class="btn btn-secondary rounded-pill"><i class="fas fa-arrow-left mr-1"></i>Volver al listado</button></a>
                        </div>
                    </div>                         
                </div>
            </div>
        </section>
    </div>
<%- include('../partials/jsPartials.ejs') %>
</body>
</html>