<!doctype html>
<html lang="es">

<head>
    <%- include('../partials/headPartial.ejs') %>
    <link rel="stylesheet" href="/css/admin/admin.css">
    <link rel="stylesheet" href="/css/miCuenta.css">
    <script src="/js/passwordToggle.js"></script>
    <title>CREACION USUARIO ADMIN | MEMORIES ADMIN</title>
</head>

<body id="body-login">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm fixed-top">
            <a href="/admin" class="navbar-center"><img src="/img/logo-memories-md.png" width="75px"></a>
        </nav>
    </header>
    <div class="container-fluid">
        <section class="row">
            <article id="tituloAdmin" class="col-12 card pt-5 border-0">
                <div class="card-body">
                    <h1 class="card-title text-center">Crear nuevo usuario Administrador</h1>
                </div>
            </article>
        </section>
        <section class="bg-home pt-15">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-10 col-sm-12 mx-auto pt-2 fondo shadow-sm rounded-lg">
                        <div class="signup-form mt-3">
                            <form action="/admin/register" method="post" enctype="multipart/form-data" novalidate>
                                <div class="form-group">
                                    <input type="text" value="<%= typeof old != 'undefined' ? old.name : '' %>" class="form-control rounded-pill name" name="name" placeholder="name">
                                    <% if(typeof errors != 'undefined' && errors.name){%>
                                        <span class="text-danger"> <%= errors.name.msg %></span>
                                        <%}%>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control rounded-pill username" name="username"
                                        placeholder="username" value="<%= typeof old != 'undefined' ? old.username : '' %>">
                                        <% if(typeof errors != 'undefined' && errors.username){%>
                                            <span class="text-danger"> <%= errors.username.msg %></span>
                                            <%}%>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control rounded-pill email" name="email"
                                        placeholder="e-mail" value="<%= typeof old != 'undefined' ? old.email : '' %>">
                                        <% if(typeof errors != 'undefined' && errors.email){%>
                                            <span class="text-danger"> <%= errors.email.msg %></span>
                                            <%}%>
                                </div>
                                <div class="form-group">
                                    <i class="togglePassword fas fa-eye text-decoration-none eye password"></i>
                                    <input type="password" class="password form-control rounded-pill" name="password"
                                        placeholder="password">
                                        <% if(typeof errors != 'undefined' && errors.password){%>
                                            <span class="text-danger"> <%= errors.password.msg %></span>
                                            <%}%>
                                </div>
                                <div id="message" class="form-group">
                                    <h3>La contraseña debe contener:</h3>
                                    <p id="letter" class="is-invalid"> 1 <b>minúscula</b></p>
                                    <p id="capital"class="is-invalid"> 1 <b>mayúscula</b></p>
                                    <p id="number" class="is-invalid"> 1 <b>número</b></p>
                                    <p id="length" class="is-invalid"> 6 <b>caracteres</b></p>
                                </div>
                                <div class="form-group">
                                    <label for="role">Rol</label>
                                    <select id="role" class="form-control rounded-pill" name="role">
                                        <option value="1">Full Admin</option>
                                        <option value="2">Basic User</option>
                                    </select>
                                </div>
                                <div class="form-group text-center col">
                                    <label for="photo">Imagen de Perfil</label><br>
                                    <img class="img-thumbnail" src="/img/avatar/default-avatar.png" value=''
                                        alt="profile-image">
                                    <input type="file" class="form-control-file rounded text-center mt-2 center"
                                        id="imagen-producto" name="photo">
                                        <% if(typeof errors != 'undefined' && errors.photo){%>
                                            <span class="text-danger"> <%= errors.photo.msg %></span>
                                            <%}%>
                                </div>
                                <div class="mx-auto bg-light shadow-sm">
                                    <div id="btn-crearCuenta" class="form-group float-right mt-2">
                                        <button type="submit" class="btn btn-info rounded-pill">Crear usuario</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

        </section>
        <%- include('../partials/jsPartials.ejs') %>
    <script src="/js/adminRegisterValidation.js"></script>
</body>

</html>