<!doctype html>
<html lang="es">

<head>
    <%- include('../partials/headPartial.ejs') %>
    <link rel="stylesheet" href="/css/admin/admin.css">
    <title>Detalle del Usuario | MEMORIES</title>
</head>

<body>
    <%- include('../partials/headerAdminPartial.ejs') %>
    <div class="container-fluid">


        <!-- Cuerpo principal -->

        <section class="row">
            <article class="col-12 card pt-5 border-0">
                <div class="card-body">
                    <h1 class="card-title text-center">Detalle del usuario</h1>
                </div>
            </article>
        </section>
        <section class="bg-white pt-4">
            <div class="container">
                <div class="row mb-4" >
                    <div class="col-8 mx-auto bg-light shadow-sm">
                        <div class="card">
                            <ul class="list-group">
                                <li class="list-group-item"><strong>ID: </strong><%= user.id%></li>
                                <li class="list-group-item"><strong>Nombre: </strong><%= user.name%></li>
                                <li class="list-group-item"><strong>Username: </strong><%= user.username%></li>
                                <li class="list-group-item"><strong>Email: </strong><%= user.email%></li>
                                <% if (user.role == 1) { %>
                                    <li class="list-group-item"><strong>Rol: </strong><%= user.role + ' -Administrador Full'%></li>
                                <% } %>
                                <% if (user.role == 2) { %>
                                    <li class="list-group-item"><strong>Rol: </strong><%= user.role + ' -Administrador Limitado'%></li>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-8 mx-auto bg-light pt-4 shadow-sm">
                        <div id="btn-volver" class="form-group float-left">
                            <a href="/admin/listado-users"><button class="btn btn-secondary rounded-pill"><i class="fas fa-arrow-left mr-1"></i>Volver al listado</button></a>
                        </div>
                        <div id="btn-edit" class="form-group float-right">
                            <a href="/admin/listado-memories/edit//<%= user.id%>"><button class="btn btn-info rounded-pill">Editar<i class="fas fa-edit text-decoration-none ml-1"></i></button></a>
                        </div>
                    </div>
                                            
                </div>
            </div>
        </section>

    </div>
    <%- include('../partials/jsPartials.ejs') %>
</body>

</html>