<!doctype html>
<html lang="es">

<head>
    <%- include('../partials/headPartial.ejs') %>
    <link rel="stylesheet" href="/css/admin/admin.css">
    <script src="/js/passwordToggle.js"></script>
    <title>Editar Usuario | MEMORIES</title>
</head>

<body>
    <%- include('../partials/headerAdminPartial.ejs') %>
    <div class="container-fluid">


        <!-- Cuerpo principal -->

        <section class="row">
            <article class="col-12 card pt-5 border-0">
                <div class="card-body">
                    <h1 class="card-title text-center">Editar usuario <%= user.name%></h1>


                </div>
            </article>
        </section>

        <section id="formulario" class="bg-home pt-4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 col-sm-10 col-xs-12 mx-auto bg-light shadow-sm">
                        <div class="signup-form mt-2">
                            <form action="/admin/listado-users/edit/<%= user.id%>?_method=PUT" method="POST"
                                enctype="multipart/form-data">
                                <div class="form-group text-center photo">
                                    <img width="20%" class="rounded-circle" src="/img/adminUsers/<%= user.photo%>"
                                        value='<%= user.photo%>' alt="">
                                    <input type="file" class="form-control-file rounded" id="imagen-producto" name="photo">
                                    <input type="hiden" class="form-control-file rounded" id="imagen-producto" value ="<%= user.photo%>" name="oldImage">

                                </div>
                                <div class="form-group">
                                    <label for="name">Nombre</label>
                                    <input type="text" class="form-control rounded-pill" name="name"
                                        value='<%=user.name%>' required="required">
                                </div>
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control rounded-pill" name="username"
                                        value='<%= user.username%>' rows="3">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" class="form-control rounded-pill" name="email"
                                        value='<%= user.email%>' rows="3">
                                </div>
                                <div class="form-group">
                                    <label for="password">Contraseña</label> 
                                    <i class="togglePassword fas fa-eye text-decoration-none eye"></i>
                                    <input type="password" class="password form-control rounded-pill" name="password"
                                        value='<%= user.password%>' required="required">
                                </div>
                                <div class="form-group">
                                    <label for="role">Role</label>
                                    <select id="role" class="form-control rounded-pill" name="role">
                                        <option <% if (user.role == 1) {%> selected <% } %>>1</option>
                                        <option <% if (user.role == 2) {%> selected <% } %>>2</option>
                                    </select>
                                </div>
                                <div class="mx-auto bg-light mt-2 shadow-sm">
                                    <div id="btn-guardar" class="form-group float-right mt-2">
                                        <button type="submit" class="btn btn btn-info rounded-pill">Actualizar</button>
                                    </div>
                                </div>
                            </form>
                            <div id="btn-volver" class="form-group float-left mt-2">
                                <a href="/admin/listado-users"><button class="btn btn-secondary rounded-pill"><i
                                            class="fas fa-arrow-left mr-1"></i>Volver al Listado</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </section>
    <%- include('../partials/jsPartials.ejs') %>
</body>

</html>