<!doctype html>
<html lang="es">

<head>
    <%- include('../partials/headPartial.ejs') %>
    <link rel="stylesheet" href="/css/compras.css">
    <title>Detalle de Compra | MEMORIES</title>
</head>

<body>
<%- include('../partials/headerPartial.ejs') %>
    <div class="container-fluid">
        <section class="row">
            <article id="tituloDetalleCompra" class="col-12 card mt-1 border-0">
                <div class="card-body">
                    <h1 class="card-title text-center">Detalle de Compra</h1>
                </div>
            </article>
        </section>
        <div class="container">
            <div class="card mx-auto col-8 bg-light shadow-sm">
                <div class="card-body">
                    <h5 class="card-title text-center mb-4"><strong>Nº Orden: <%= cart.id %> </strong></h5>

                        <article class="d-flex flex-column justify-content-between">
                            <p class="card-text"><strong>Fecha de compra: </strong></p>
                            <p class="card-text"><%=new Date(cart.createdAt).getDate() + '-' + (new Date(cart.createdAt).getMonth() + 1) +  '-' + new Date(cart.createdAt).getFullYear()%></p>
                            <br>
                            <p class="card-text"><strong>Productos: </strong></p>
                            <% cart.items.forEach(item => { %>
                                <p class="card-text"><%= item.products.name %> | x<%= item.qty %> | $<%= toThousand(item.products.price) %></p>
                            <% }) %>
                            <br>
                            <p class="card-text"><strong>Precio Total: </strong></p>
                            <p class="card-text">$<%= toThousand(cart.total) %></p>
                        </article>
                </div>
            </div>
    </div>
    <%- include('../partials/jsPartials.ejs') %>
    <%- include('../partials/footerPartial.ejs') %>
</body>
</html>