<!doctype html>
<html lang="es">

<head>
    <%- include('../partials/headPartial.ejs') %>
    <link rel="stylesheet" href="/css/compras.css">
    <title>Mis Compras | MEMORIES</title>
</head>

<body>
<%- include('../partials/headerPartial.ejs') %>
    <div class="container-fluid">
        <section class="row">
            <article id="tituloAdmin" class="col-12 card mt-1 border-0">
                <div class="card-body">
                    <h1 class="card-title text-center">Mis Compras</h1>
                </div>
            </article>
        </section>
        <% if(carts.length != 0){ %>
        <table class="table mt-2 border-bottom">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">No. Orden</th>
                    <th scope="col">Fecha de compra</th>
                    <th scope="col">Cantidad de Productos</th>
                    <th scope="col">Precio Total</th>
                    <th scope="col">Ver Detalle</th>

                </tr>
            </thead>
            <% carts.forEach(cart => { %>
                <tbody>
                    <tr>
                        <td scope="row"><%= cart.id %>  </td>
                        <td><%=new Date(cart.createdAt).getDate() + '-' + (new Date(cart.createdAt).getMonth() + 1) +  '-' + new Date(cart.createdAt).getFullYear()%></td>
                        <% cart.items.forEach(item => { %>
                            <td><%=item.qty%> </td>
                         <% }); %>           
                        <td>$<%= toThousand(cart.total) %> </td>
                        <td><a id="btn-view" class=" text-decoration-none" href="/mi-cuenta/compras/detalle"><i class="fas fa-eye text-decoration-none"></i></a></td>
                    </tr>
    
                </tbody>
            <% }) %>
        </table>
        <% } else { %>
        <div class="col-12">
            <div class="text-center mb-3 mt-3"><img class="mb-2" src="/img/empty-wallet.png" width="5%" alt="Billetera Vacia"></div>
            
           <h2 class="text-center mt-2">¡Todavía no hiciste ningún regalo!</h2>
           <p class="text-center">¿Qué tal si recorrés las diferentes categorías de Memories y lo elegís ahora?</p>
           <div class="text-center mt-2"><a href="/"><button id="botonVolver" type="submit" class="mt-2 btn btn-info btn-lg rounded-pill">Ir a la Home</button></a></div>
           
        </div>
        <% } %>

        <div class="col-12 mx-auto  pt-4 ">
            <div id="btn-volver" class="form-group float-left">
                <a href="/mi-cuenta"><button class="btn btn-secondary rounded-pill"><i class="fas fa-arrow-left mr-1"></i>Volver a Mi Cuenta</button></a>
            </div>
        </div>
    </div>
    
    <%- include('../partials/jsPartials.ejs') %>
</body>
</html>