<!doctype html>
<html lang="es">

<head>
    <%- include('../partials/headPartial.ejs') %>
    <link rel="stylesheet" href="/css/miCuenta.css">
    <script src="/js/passwordToggle.js"></script>
    <title>Mi Cuenta | MEMORIES</title>
</head>

<body>
    <%- include('../partials/headerPartial.ejs') %>
    <div class="container-fluid">

        <section class="row">
            <article class="col-12 card border-0">
                <div class="card-body">
                    <h1 class="card-title text-center">¡Hola <%= user.name %>!</h1>
                </div>
            </article>
        </section>
        <section id="formulario" class="bg-home pt-4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 col-sm-10 col-xs-12 mx-auto bg-light shadow-sm">
                        <div class="signup-form mt-2">
                            <form action="/mi-cuenta/ver/<%= user.id%>?_method=PUT" method="POST"
                                enctype="multipart/form-data">
                                <div class="form-group text-center col">
                                    <% if (user.photo == undefined || user.photo == "") { %>
                                    <label for="photo">Imagen de Perfil</label><br>
                                    <img width="20%" class="rounded-circle" src="/img/avatar/default-avatar.png"
                                        value='/img/avatar/default-avatar.png' alt="">
                                    <input type="file" class="form-control-file rounded text-center mt-2 center"
                                        id="imagen-producto" name="photo">
                                    <% } %>
                                    <% if (user.photo) { %>
                                    <label for="photo">Imagen de Perfil</label><br>
                                    <img width="20%" class="rounded-circle" src="/img/users/<%= user.photo%>"
                                        value='<%= user.photo%>' alt="">
                                    <input type="file" class="form-control-file rounded text-center mt-2 center"
                                        id="imagen-producto" name="photo">
                                    <% } %>
                                </div>
                                <div class="form-group">
                                    <label for="name">Nombre</label>
                                    <input type="text" class="form-control rounded-pill" name="name"
                                        value='<%= user.name %>' required="required">
                                </div>
                                <div class="form-group">
                                    <label for="lastName">Apellido</label>
                                    <input type="text" class="form-control rounded-pill" name="lastName"
                                        value='<%= user.lastName %>' required="required">
                                </div>

                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" class="form-control rounded-pill" name="email"
                                        value='<%= user.email %>' rows="3">
                                </div>
                                <div class="form-group">
                                    <label for="password">Contraseña</label>
                                    <i class="togglePassword fas fa-eye text-decoration-none eye"></i>
                                    <input type="password" class="password form-control rounded-pil" name="password"
                                        value='<%= user.password %>' required="required">
                                </div>
                                <div class="mx-auto bg-light mt-2 shadow-sm">
                                    <div id="btn-guardar" class="form-group float-right mt-2">
                                        <button type="submit" class="btn btn btn-info rounded-pill">Actualizar
                                            datos</button>
                                    </div>
                                </div>
                            </form>
                            <div id="btn-volver" class="form-group float-left mt-2">
                                <a href="/"><button class="btn btn-secondary rounded-pill"><i
                                            class="fas fa-arrow-left mr-1"></i>Volver</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <%- include('../partials/jsPartials.ejs') %>
</body>

</html>