<!doctype html>
<html lang="es">

<head>
    <%- include('../partials/headPartial.ejs') %>
    <link rel="stylesheet" href="/css/userRegister.css">
    <title>REGISTRO | MEMORIES</title>
</head>

<body>
    <div class="container-fluid">
        <%- include('../partials/headerPartial.ejs') %>
        <video autoplay muted loop id="videoBack">
            <source src="/img/paracaidas.mp4" type="video/mp4">
        </video>

        <section id="titulo" class="row">
            <article class="col-12">
                <div class="text-left mt-3 mb-3">
                    <div class="text-center mt-3 mb-3">
                        <h2>¡Creá tu Cuenta!</h2>
                        <% if (typeof errors != 'undefined') { %>
                        <div class="alert alert-warning" role="alert">
                            <ul>
                                <% for(let i = 0; i < errors.length; i++) { %>
                                <li>
                                    <%= errors[i].msg %>
                                </li>
                                <% } %>
                            </ul>
                        </div>
                        <% } %>
                    </div>
            </article>
        </section>
        <section class="bg-home pt-15">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-10 col-sm-12 mx-auto pt-2 fondo shadow-sm rounded-lg">
                        <div class="signup-form mt-3">
                            <form action="/registro" method="post" novalidate>
                                <div class="form-group">
                                    <input type="text" class="form-control rounded-pill" name="name"
                                        placeholder="nombre" required="required" autofocus>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control rounded-pill" name="lastName"
                                        placeholder="apellido" required="required">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control rounded-pill" name="email"
                                        placeholder="e-mail" required="required">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control rounded-pill" name="password"
                                        placeholder="contraseña" required="required">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control rounded-pill" name="passwordConfirmation" 
                                    placeholder="confirmar contraseña" required="required">
                                </div>    
                                <div class="form-check ml-2">
                                    <input class="form-check-input" checked="checked" type="checkbox" value=""
                                        id="quieroPromociones">
                                    <label class="form-check-label" for="quieroPromociones">
                                        <p class="ml-1">Quiero recibir mensajes y promociones de Memories.</p>
                                    </label>
                                </div>
                                <div class="form-check ml-2">
                                    <input class="form-check-input" type="checkbox" value="" id="aceptoTerminos"
                                        required="required">
                                    <label class="form-check-label" for="aceptoTerminos">
                                        <p class="ml-1">He leído y acepto los <a href="/terminos-y-condiciones">Términos
                                                y Condiciones.</a>
                                        </p>
                                    </label>
                                </div>
                                <div id="btn-crearCuenta" class="form-group text-center btn-block">
                                    <button type="submit"
                                        class="btn btn-info btn-primary btn-lg btn-block rounded-pill">Crear
                                        cuenta</button>
                                </div>
                            </form>
                            <div class="text-center mb-3">
                                <p>¿Ya tenés cuenta? <a href="/login">¡INGRESÁ ACA!</a></p>
                            </div>
                        </div>
                    </div>
                </div>

        </section>
        <div class="separador"></div>
        <%- include('../partials/footerPartial.ejs') %>
        <%- include('../partials/jsPartials.ejs') %>
    </div>
</body>

</html>