<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/headPartial.ejs') %>
  <link rel="stylesheet" href="/css/product.css">
  <title>MEMORIES</title>
</head>

<body>
<%- include('../partials/headerPartial.ejs') %>
<% if (result.length != 0) { %>
  <div class="container-fluid">
    <div class="col-12" id="experienciasDentroDelMemorie">
      <h1 class="tituloCategoriaGrilla"> Resultados de tu búsqueda </h1>
    </div>
    <div class="row botonesCategoria">
      <div class="container">
        <div class="row" id="rowMemoriesPacks">        
          <% for( let i = 0; i < result.length; i++ ) { %>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mt-2" class="memoriePack"><a href="/experiencia/<%= result[i].id %>">
            <img class="imagenMemoriePack mb-2" src="/img/experiences/<%= result[i].image %>" alt="<%= result[i].name %>"></a>
            <h4 class="text-center mb-4"><%= result[i].name %> </h4>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
<% } else { %>
  <div class="col-12">
    <div class="text-center mb-3 mt-3"><img class="mb-2" src="/img/search-noresults.png" width="8%" alt="Sin resultados"></div>
    
   <h2 class="text-center mt-2">¡Tu búsqueda no devolvió ningún resultado!</h2>
   <p class="text-center">No te preocupes, tenemos muchas Memories para que encuentres lo que buscás.</p>
   <div class="text-center mt-2"><a href="/products/ver-todo"><button id="botonVolver" type="submit" class="mt-2 btn btn-info btn-lg rounded-pill">Ver todas las Memories</button></a></div>
   
</div>
<% } %> 
<%- include('../partials/footerPartial.ejs') %>
<%- include('../partials/jsPartials.ejs') %>
</body>
</html>